name: Daily run

on:
   schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '02 16 * * 0,6'
    - cron:  '02 16 * * *'
    
jobs:
  test_schedule:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Not on Monday or Wednesday
        if: github.event.schedule != '00 4 * * 0,6'
        run: ./gradlew testDebugUnitTest debug
        continue-on-error: true
    
    
